.card {
    background-color: transparent;
    border: none;
    &-about {
        &__img {
            width: rem(185px);
            height: rem(185px);
            &-1 {
                width: rem(119px);
            }
            &-2 {
                width: rem(145px);
            }
            &-3 {
                width: rem(137px);
            }
        }
    }
    &-coverage {
        &__img-wrap {
            &__img {
                height: rem(172px);
            }
        }
        .card-body {
            padding: rem(30px 30px 0);
            @include media-breakpoint-up(lg) {
                padding: rem(40px 50px 0);
            }
        }
    }
}

.card-footer{
        margin-top: 55px;
        margin-bottom: 80px;
        border: 1px solid $color-border-light;
        text-align: left;
        background-color: rgba(255, 255, 255, .15);
        backdrop-filter: blur(5px);
        padding: 63px 41px;
}