.#{$global} {
    &-footer {
        background-color: $color-footer;
        color: $color-white;
        &__info {
            padding: rem(70px 0);
            @include media-breakpoint-up(lg) {
                padding: rem(112px 0);
            }
        }
    }
}


.footer{
    padding-top: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    img{
        display: inline-block;
        padding-bottom: 99px;
    }
    &-nav{
        display: inline-block;
        ul{
            list-style: none;
            li{
                display: inline;
                padding-right: 40px;
            }
        }
    }
}