.#{$global} {
    &-app {
        height: 100vh;
    }
    &-wrap {
        flex: 1 0 auto;
    }
}

.content {
    &-wrap {
        padding: rem(50px 50px);
        position: relative;
        @include media-breakpoint-up(md) {
            padding: rem(83px 0 0 143px);
        }
        &--api {
            padding: rem(100px 0);
            position: relative;
            @include media-breakpoint-up(md) {
                padding: rem(135px 0);
            }
        }
        &--text{
            width: 90%;
            padding-top: rem(20px);
            h2{
                width: 60%;
            }
        }
        &--img{
            width: 100%;
            height: 100%;
        }
    }
}

.img-lime {
    position: absolute;
    bottom: rem(-70px);
    left: rem(135px);
}
.bottle-carousel{
    margin: 0;
    width: 100%;
    &--bottles{
        padding-top: rem(70px);
        padding-bottom: rem(54px);
        .bottle{
            padding-right: rem(100px);
            &:last-child{
                padding-right: rem(0);            
            }    
        }
    }
}

.content-mid{
    margin: 0;
    position: relative;
    padding-top: 94px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
    &--bg{
        background: url('../../images/glass.png');
        background-repeat: no-repeat;
        background-position: right;
        width: 100%;
        height: 90vh;
        padding: 0 200px;
    }
    &--text{
        display: inline-block;
        width: 40%;
        z-index: 12;
    }

}

.content-right{
    margin: 0;
    padding-top: rem(40px);
    position: relative;
    &--bg{
        background: url('../../images/factory.jpg');
        background-repeat: no-repeat;
        background-size: 70%;
        background-position: left;
        width: 100%;
        height: 80vh;
    }
    &--text{
        padding-top: rem(30px);
        position: absolute;
        right: 20%;
        width: 25%;
        text-align: right;
        h4, h2{
            position: absolute;
            right: 0;
        }
        h2{
            margin: 40px 0;
        }
        p{
            position: relative;
            margin-top: 140px;
        }
    }
}
.brands-links{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 373px;
    position: absolute;
    right: 0;
    a{
        align-self: stretch;
        margin: 0;
        padding: 20px 0 50px 0;
        h4{
            position: absolute;
            left: 30px;
            padding-bottom: 23px;
        }
        .right{
            position: absolute;
            right: rem(20px);
        }
    }
}

.content-society{
    margin-top: rem(120px);
    padding-top: rem(127px);
    padding-left: rem(138px);
    &--text{
        width: 45%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

.content-community{
    margin-top: rem(120px);
    padding-top: rem(127px);
    &--text{
        width: 45%;
        position: absolute;
        right: rem(150px);
        flex-direction: column;
        text-align: center;
    }
}


